{% if categories %}
<div class="header-menu">
  <div class="container">
    <nav id="menu" class="navbar">
      <button id="menu-close" class="menu-button menu-button-close hidden-sm hidden-md hidden-lg"><i class="fa fa-times"></i></button>
      <ul class="menu-list">
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{ contact }}" class="nav_right_href"><i class="fa fa-phone"></i>{{ telephone }}</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{ search }}" class="nav_right_href"><i class="fa fa-search"></i> Поиск</a></li>
        
        {% if logged %}
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{ account }}"><i class="fa fa-user"></i> {{ text_account }}</a></li>         
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{ wishlist }}"><i class="fa fa-star"></i> Избранные</a></li>         
        {% else %}
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{ register }}"><i class="fas fa-pen"></i> {{ text_register }}</a></li>
        <li class="hidden-sm hidden-md hidden-lg"><a href="{{ login }}"><i class="fas fa-sign-in-alt"></i> {{ text_login }}</a></li>
        {% endif %}
        
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown">
          <i class="fa fa-chevron-right hidden-sm hidden-md hidden-lg"></i>
          <a href="{{ category.href }}">{{ category.name }}</a>
        </li>
        {% else %}
        <li>
          <i class="fa fa-chevron-right hidden-sm hidden-md hidden-lg"></i>
          <a href="{{ category.href }}">{{ category.name }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if informations %}
          {% for information in informations %}
            {% if information.id == 6 %}
              <li class="hidden-sm hidden-md hidden-lg"><a href="{{ information.href }}" class="nav_right_href"><i class="fa fa-truck"></i>{{ information.title }}</a></li>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if logged %}
        <li class="hidden-sm hidden-md hidden-lg"><i class="fa fa-sign-out"></i> <a href="{{ logout }}">{{ text_logout }}</a></li>
        {% endif %}
        <li><a href="https://www.instagram.com/pereslavskiye_polya/" target="_blank"><i class="fab fa-instagram"></i> Подписывайтесь!</a> </li>
      </ul>
    </nav>
  </div>
</div>

{% endif %} 

<script>
// $('#menu_btn').on('click', function() {
//   $('.navbar').toggleClass('ovf-visible');
//   $('.menu_right_toggle').toggleClass('toggle_menu');
// });
// $('#menu-btn').on('click', function() {
// 		$('.header-menu').toggleClass('toggle_menu');
// 	});
</script>