{{ header }}
<div id="product-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h2>{{ heading_title }}</h2>
      {% if thumb or description %}
      <div class="row">
        {# {% if thumb %}
          <div class="col-sm-2"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" /></div>
        {% endif %} #}
        {% if description %}
        <div class="col-sm-10">{{ description }}</div>
        {% endif %}</div>
      <hr>
      {% endif %}
      {% if categories %}
      
      {% if categories %}
      <div class="row margin-top-30">
        <div class="col-sm-12">
          <ul class="child_categ_list">
            {% for category in categories %}
            <li class="child_categ_item"><a href="{{ category.href }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% else %}
      <div class="row">
        {% for category in categories|batch((categories|length / 4)|round(1, 'ceil')) %}
          <div class="col-sm-12">
            <ul class="child_categ_list">
              {% for child in category %}
              <li class="child_categ_item"><a href="{{ child.href }}">{{ child.name }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}</div>
      <br />
      {% endif %}
      {% endif %}
      {% if products %}
      <div class="row margin-top-50">
        <div class="col-md-4 col-xs-6">
          <div class="form-group input-group input-group-sm">
            <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
            <select id="input-sort" class="form-control" onchange="location = this.value;">
              
              
              
              {% for sorts in sorts %}
              {% if sorts.value == '%s-%s'|format(sort, order) %}
              
              
              
              <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
              
              
              
              {% else %}
              
              
              
              <option value="{{ sorts.href }}">{{ sorts.text }}</option>
              
              
              
              {% endif %}
              {% endfor %}
            
            
            
            </select>
          </div>
        </div>
      </div>
      <div class="row margin-top-30"> {% for product in products %}
        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-4 col-xs-6 devices-width">
          <div class="product-thumb">
            <button
              id="wishlist-icon-{{ product.product_id }}"
              type="button"
              data-toggle="tooltip"
              class="btn btn-default btn-wishlist"
              title="{{ button_wishlist }}"
              onclick="wishlist.add({{ product.product_id }});"
              data-original-title="В закладки">
                {% if product.product_id in wishlists %}
                  <i class="fa fa-heart"></i>
                  {% else %}
                  <i class="far fa-heart"></i>
                {% endif %}
            </button>
            <div class="image">
              <a class="product_image_thumb product_image_thumb_category product_popup" href="{{ product.href }}" style="background-image: url({{ product.thumb }})"></a>
            </div>
            
              <div class="caption {{product.product_id}}">
                <p class="delivery_days ">Дни доставки: {{ product.sku }}</p>
                <h4 class="product_name"><a class="product_popup" href="{{ product.href }}">{{ product.name }}</a></h4>
                {% if product.price %}
                <p class="price"> {% if not product.special %}
                  {{ product.price }}
                  <span class="product_upc">{{product.upc}}</span>
                  {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
                  {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
                {% endif %}
                
              </div>
              <div class="button-group">
                <div class="good_counter">
                  <button class="eco_btn" onclick="cart.decrement('{{product.product_id}}')">
                    <i class="fa fa-minus"></i>
                  </button>
                  <input id="cart_quantity_{{product.product_id}}" class="cart_quantity" type="number" value="1">
                  <button class="eco_btn" onclick="cart.increment('{{product.product_id}}')">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
                <button class="add_to_cart_btn" type="button" onclick="cart.add('{{ product.product_id }}');">
                  <i class="fa fa-shopping-basket"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
                </button>
                <!--<button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>-->
              </div>
          </div>
        </div>
        {% endfor %} </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% endif %}
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }} 
<script>
  $('a.product_popup').click(function(e) {
    e.preventDefault();
    $.magnificPopup.open({
      items: {
        src: $(this).attr('href')
      },

      type: 'iframe',
      iframe: {
        markup: '<div class="mfp-iframe-scaler">'+
            '<div class="mfp-close"></div>'+
            '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
          '</div>',
      }
    });
  });
  
</script>